<div class="jumbotron">
  <h1>Lean Marketing para Empresas</h1>
  <p>Conoce el ROI de tus acciones de marketing</p>
  <p><a class="btn btn-success btn-lg" role="button">Conoce más</a></p>
</div>

<div class="container">
	<div class="row">
	  <div class="col-md-6">Texto</div>
	  <div class="col-md-6">Otro texto</div>
	</div>
</div>